<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Shared Memo</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/css/reset.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel="shortcut icon" href="">
</head>
<body>

<div id="app">

  <header>
  Header
  </header>

  <div v-bind:class="doc.type">


    <template v-if='doc.type==="collection"'>
      <article class="doc">
        <h1 class="title">
          <span class="path" v-if="doc.parent">
            <a v-bind:href="doc.parent.id">{{ doc.parent.title}} </a> &gt; 
          </span>
          {{ doc.title }}
        </h1>
        <section class="content">
          {{ doc.content }}
        </section>
      </article>

      <section class="children" v-if="doc.children">
        <article class="child" v-for="child in sortedChildren">
          <h2 class="title">
            <a v-bind:href="child.id">{{ child.title }}</a>
          </h2>
          <div class="content">{{ child.content }}</div>
        </article>
      </section>
 
      <button class="exec add" v-on:click="addNewDoc()">Add</button>

    </template>

    <template v-if='doc.type==="document"'>
      <article class="doc">
        <h1 class="title">
          <span class="path" v-if="doc.parent">
            <a v-bind:href="doc.parent.id">{{ doc.parent.title}} </a> &gt; 
          </span>
          {{ doc.title }}
        </h1>
        <section class="content" v-html="getHtmlContent(doc)">
        </section>

        <section class="button" v-if="!doc.fixed">
          <button class="exec" v-on:click="editDoc()">Edit</button>
        </section>
      </article>

      <section class="children" v-if="doc.children">
        <article class="child" v-for="child in sortedChildren">
          <div class="content"  v-html="getHtmlContent(child)"></div>
        </article>
      </section>

      <section class="comment-area" v-if="!doc.fixed">
        <textarea v-focus rows="4" v-model="status.comment" placeholder="コメント"></textarea>
        <button class="exec" v-bind:disabled="!isCommentPostable" v-on:click="submitComment()">Comment</button>
      </section>
    </template>

  </div>
  
  
  <template v-if='status.editor.active'>
    <div class="modal-overlay"></div>
    <div class="dialog">
      <h2 class="title">{{ isNewArticle ? "新しい記事" : "記事の編集" }}</h2>
      <section class="form">
        <input type="text" v-model="status.editor.title" placeholder="タイトル" />
        <textarea v-focus v-model="status.editor.content" placeholder="本文"></textarea>
      </section>
      <section class="button">
        <button v-on:click="cancelEdit()">キャンセル</button>
        <button class="exec" v-bind:disabled="!isDocPostable" v-on:click="submitDoc()">保存</button>
      </section>
    </div>
  </template>

</div>


<script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
<!-- script src="https://code.jquery.com/jquery-3.3.1.min.js"></script -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/page.js"></script>
</body>
</html>
